body {
    font-family: 'GFS Neohellenic', sans-serif;
    margin: 0;
    padding-top: 90px;
    
}

nav {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e1e0e0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-left: 30px;
}

nav li {
    height: 90px;
}

nav a {
    height: 100%;
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: transparent;
    color: #3495d1;
    font-weight: bold;
}

/*Artist logo and heading moved to the left side of the screen*/
nav li:nth-child(2) {
    margin-right: auto;
}

.insta-logo {
    height: 50px;
}

.insta-logo:hover {
    transform: scale(1.1);
}

.first-li a {
    margin-right: 25px;
}

.artist-logo {
    width: 4rem;
    height: auto;
}

.artist-logo:hover {
    transform: scale(1.1);
}

.nav-heading {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    text-decoration: none;
    color: #454545;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 100;
    background-color: #e1e0e05a;
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

.x-ic {
    margin-top: 20px;
}

.x-ic:hover {
    transform: scale(1.1);
}

.sidebar.active {
    display: flex;
}

.nav-sections-m, .nav-sections-d {
    font-variant: small-caps;
    font-weight: bold;  
}

.nav-sections-m a, .nav-sections-d a, .nav-buy-about-m a, .nav-buy-about-d a {
    color: #454545;
}

.nav-buy-about-m {
    display: none;
}

.nav-sections-d {
    display: none;
}

.m-icon {
    position: relative;
    top: 24px;
    right: 24px;
    padding-left: 5px;
}

.m-icon:hover {
    transform: scale(1.1);
}

#ansa:hover {
    color: purple;
}

#dila:hover {
    color: rgb(17, 173, 17);
}

#fabe:hover {
    color: rgb(203, 203, 11);
}

main {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "h1 h1 h1"
        "artist-img about about"
        "contact-main contact-main contact-main";
}

.contact-main, .contact-main-1 {
    grid-area: contact-main;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
        "ext ext ext"
        "line line line";
    gap: 50px;
    margin: 0px;
    padding: 55px 0px 20px 0px;
    background-color: #658797;
}

h1 {
    grid-area: h1;
    text-align: center;
    font-size: 3rem;
    background-color: #658797;
    padding: 20px;
    margin: 0px 0px 55px;
    color: white;
}

.artist-img {
    grid-area: artist-img;
    width: 100%;
    height: auto;
    margin-left: 60px;
    align-self: center;
    position: relative;
    bottom: 4rem;
    border-radius: 5px;
}

.about {
    grid-area: about;
    font-style: italic;
    font-size: 1.2rem;
    padding: 0px 70px 80px 80px;
    place-self: center;
    text-align: justify;
    margin-left: 30px;
}

.about-title {
    font-style: normal;
    font-weight: bold;
    text-align: start;
    position: relative;
    bottom: 20px;
    font-size: 1.2rem;    
}

.about-name {
    font-style: normal;
    text-align: end;
    margin-right: 20px;
}

.ext {
    grid-area: ext;
    font-size: 2.5rem;
    place-self: center;
}

.ext a {
    text-decoration: none;
    font-variant: small-caps;
    text-transform: capitalize;
    border: #454545 1px solid;
    padding: 15px;
    background-color: #e1e0e0;
    color: black;
    border-radius: 5px;
    transition: 0.5s all;
}

.ext a:hover {
    background-color: #e1e0e0b2;
}

.ext p {
    font-size: 1.5rem;
    text-align: end;
    position: relative;
    top: 20px;
    right: 20px;
    color: white;
}

.link1 {
    justify-self: end;
    transition: 0.5s;
}

.link2 {
    justify-self: center;
    transition: 0.5s;
}

.link3 {
    transition: 0.5s;
}

.link1 img, .link3 img {
    height: 50px;
    width: auto;
}

.link2 p {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}

.link2 p span {
    margin-left: 10px;
}

.link2 a {
    text-decoration: none;
    color: black;
}

.link1:hover, .link2:hover, .link3:hover {
    transform: scale(1.1);  
}

.line {
    grid-area: line;
    border-top: white solid 2px;
    margin: 0px 100px;
}

footer {
    background-color: #454545;
    color: #e1e0e0;
    padding: .5rem 1rem .5rem 0;
    text-align: end;
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
}

.tablet-mobile {
    display: none;
}

.contact-main-1 {
    display: none;
}

/*Slightly smaller Desktop Screen*/
@media(max-width: 950px) {
    .nav-heading {
        font-size: 2rem;
    }
    main {
        display: none;
    }
    .tablet-mobile {
        display: inline-block;
    }
    .artist-img {
        float: left;
        width: 40vw;
        margin: 0;
        bottom: 0;
        margin: 0px 20px 20px 0px;
        padding: 0;
    }
    .about {
        margin-left: 0;
        padding: 0px 70px 80px 80px;
    }
    .about-title {
        bottom: 0;
    }
    .outside-color {
        padding: 0;
    }
}

/*Tablet*/
@media(max-width: 870px) {
    #mobile-view {
        display: none;
    }
    nav a:hover {
        background-color: transparent;
        color: #454545
    }
    .nav-sections-d {
        display: block;
    }
    .sidebar.active li {
        padding-bottom: 30px;
    }
    .insta-logo:hover {
        transform: none;
    }
    .x-ic:hover {
        transform: none;
    }
    .m-icon:hover {
        transform: none;
    }
    .about {
        padding: 0px 60px 50px;
    }
    .contact-main-1 {
        margin: 0px 0px 0px;
    }
    .ext p {
        text-align: center;
        right: 0;
    }
    .ext a {
        box-shadow: none;
    }
    .ext a:hover {
            background-color: #454545;
            color: #e1e0e0;
            box-shadow: none;
    }
    .link1:hover, .link2:hover, .link3:hover {
        transform: none;  
    }
    .link2 p {
        justify-content: center;
    }
    .contact-main {
        display: none;
    }
    .contact-main-1 {
        display: block;
    }
    .ext {
        text-align: center;
    }
    .line {
        margin: 50px 100px;
    }
    .icons-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    h1 {
        margin: 0px 0px 55px;
    }
}

/*Smaller Tablet contact link adjustment*/
@media(max-width: 630px) {
    .about {
        padding: 0px 40px 100px;
    }
    .contact-main-1 {
        margin: 0px 0px 0px;
    }
    .ext p {
        text-align: center;
        right: 0;
    }
    footer {
        text-align: center;
    }
}

/* Slightly larger mobile */
@media(max-width: 530px) {
    .ext {
        font-size: 2rem;
    }
    .link2 p {
        font-size: 1.5rem;
    }
}

/*Mobile*/
@media(max-width: 470px) {
    .sidebar {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .sidebar.active a {
        margin-left: 50px;
    }
    .sidebar.active li {
        padding-bottom: 30px;
    }
    .nav-sections-d {
        display: block;
    }
    .nav-heading {
        font-size: 1.3rem;
    }
    nav ul {
        padding: 0;
        justify-content: space-between;
    }
    nav li:nth-child(2) {
        margin-right: 0;
    }
    .artist-logo {
        position: relative;
        left: 10px;
    }
    .about {
        padding: 0px 20px 20px;
    }
    .m-icon {
        position: relative;
        left: 20px;
    }
    .artist-img {
        float: none;
        width: 100%;
    }
    .ext {
        font-size: 1.5rem;
    }
    .ext p {
        font-size: 1.3rem;
    }
    .link2 p {
        font-size: 1.2rem;
    }
    .about {
        padding: 0px 20px 20px;
    }
}